/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 21, 2018, 9:56:57 PM
    Author     : Ing. David Salcedo <kunturardevelopers@gmail.com> Kuntur AR.
*/

.ui-body{
    border: 2px solid #CE0071;
    top: 0px;
    /*background-color: #CE0071;*/
    bottom: 0px;
    color: #FF9900 !important;
}

.ui-menu-superior{
    background-color: #CE0071 !important;
}

.ui-boton-menu-superior{
    border: 1px solid #a8a8a8;
    background: #CE0071;
    font-weight: bold;
    color: #FF9900;
    text-shadow: 0 1px 0 rgba(255,255,255,0.7);
    display: inline-block;
    position: relative;
    padding: none !important;
    margin-right: .1em;
    text-decoration: none !important;
    cursor: pointer;
    text-align: center;
    zoom: 1;
    overflow: visible;
    border-radius: 3px;
    width: 100%; 
    height: 20px
}

.ui-titulos{
    font-size: 16px !important;
    line-height: 2;
}

.ui-social-icon{
    color: #FFFF00;
    height: 30px;
    width: 50px;
}

.ui-btn-social{
    background-color: #CE0071 !important;
    border: none; /* Remove borders */
    color: white; /* White text */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    height: 30px;
}

.ui-widget-content {
    border: none;
    background: #CE0071;
    font-weight: bold;
    color: #FF9900;
}

.ui-footer{
    color: #FFFF00 !important;
    float: left;
}

.ui-icon-footer{
    color: #FFFF00 !important;
    float: right;
}
#top {
    position: relative;
    vertical-align: central !important;
    color: white;
    line-height: 20px;
    padding: 0px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    position: relative;
    background-color: #CE0071;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}